@import '../variables';

.AudioTrack {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  transform: scale(0.5);

  &--ready {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .AudioTrack-progress {
    margin: 0 20px;
    width: 300px;
  }
}

.AudioTrack-group {
  display: flex;
  align-items: center;
}

.AudioCurve-rect {
  fill: #666;
  transition: all 0.3s ease;

  &--active {
    fill: $firm-color-init;
  }
}

.AudioProgress-handler {
  background: $danger-color;
  height: 100%;
  width: 1px;
  transition: all 0.2s ease;

  .AudioTrack & {
    transform: translate(0, -50%);

    &:hover {
      transform: translate(-50%, -50%);
    }
  }

  .AudioProgress:hover &,
  &--active,
  &:hover {
    width: 2px;
    background: $danger-color-auxilliary;
  }

  &--active {
    height: 120%;
  }
}

.AudioProgress-curve {
  width: 100%;
  height: 50px;
}
