@import '../variables';

.DeleteHandler {
  display: inline-block;
  padding: $icon-padding;
  color: $icon-color;
  vertical-align: top;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    color: $danger-color-auxilliary;
  }
}

.DeleteHandler-path {
  fill: currentColor;
}
