@import '../variables';

.Grid {
  display: grid;
  grid-template-rows:    [outer-start] [inner-start] [inner-end] [outer-end];
  grid-template-columns: [outer-start] 1fr [inner-start] 1fr [inner-end] 1fr [outer-end];
  grid-auto-rows: 100px;
  grid-gap: 4px;
  transition: all 0.2s ease;

  @media screen and (max-width: 900px) {
    grid-template-columns: 20% 10% 30% 40%;
  }
}

@function pieColors($n) {
  @return adjust-hue($firm-color-init, ($n * 30))
}

.Grid-item {
  transition: all 0.2s ease;
  border-radius: 4px;
  background: $firm-color-init;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(1) {
    background: $danger-color;
    grid-area: inner;
  }

}
