@import '../variables';

.PieChart {
  display: block;
}

.PieChart-wrapper {
  display: inline-block;
}

@function pieColors($n) {
  @return adjust-hue($firm-color-init, ($n * 30))
}

.PieChart-sector {
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;

  @for $i from 0 through 10 {
    &--#{$i} {
      fill: pieColors($i);

      &:hover {
        fill: lighten(pieColors($i), 30%);
      }
    }
  }

  &:hover {
    transform: scale(1.1);
    z-index: 2;
  }

}
