@import '../variables';
@import '../parts';

$rec-button-icon-size: 16px;

.RecButton {
  @extend .control;
  width: $control-round-size;
  height: $control-round-size;
  border-radius: $control-round-size / 2;
  padding: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $control-hover-color;
  }

  &:active,
  &--isRecording {
    box-shadow: $control-active-shadow;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: $rec-button-icon-size;
    height: $rec-button-icon-size;
    border-radius: $rec-button-icon-size / 2;
    background: $danger-color;
    transition: all 0.4s ease;
    z-index: 2;
  }

  &::before {
    background: $danger-color;
    width: 0;
    height: 0;
    z-index: 1;
    transition: all 0.2s ease;
  }

  &:active {
    &::after {
      width: $rec-button-icon-size - 4;
      height: $rec-button-icon-size - 4;
    }
  }

  &--isRecording {
    &:hover {
      &::before {
        background: $danger-color-auxilliary;
      }
    }

    &::after {
      border-radius: $control-border-radius;
      background: #FFF;
    }

    &::before {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
