@import '../variables';

$slider-size: 200px;
$slider-margin: 15px;
$slider-caption-margin: 15px;
$slider-track-size: 3px;
$slider-handler-y-size: 20px;
$slider-handler-x-size: 16px;

.Slider {
  cursor: pointer;
  position: relative;
  width: $slider-size;
  padding: ($slider-handler-y-size / 2) 0;
  user-select: none;
  display: inline-block;

  & + & {
    margin-top: $slider-margin;
  }

  &--vertical {
    height: $slider-size;
    width: auto;
    padding: 0 ($slider-handler-y-size / 2);

    & + & {
      margin-top: 0;
      margin-left: $slider-margin;
    }
  }
}

.Slider_track {
  width: 100%;
  position: relative;

  .Slider--vertical & {
    height: 100%;
  }
}

.Slider_trackNative {
  height: $slider-track-size;
  background: #f7f7f7;
  border-radius: $control-border-radius;

  .Slider--vertical & {
    width: $slider-track-size;
    height: 100%;
  }

  &::after {
    content: "";
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    bottom: 0;
  }
}

.Slider_progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  &--highlight {
    background: $firm-color-auxilliary;
  }

  .Slider--vertical & {
    left: 0;
    right: 0;
    top: auto;
  }
}

.Slider_handler {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .Slider--vertical & {
    top: 0;
    left: 50%;
  }
}

.Slider_handlerNative {
  width: $slider-handler-x-size;
  height: $slider-handler-y-size;
  border-radius: $control-border-radius;
  box-shadow: $control-shadow;
  background-color: $control-background-color;
  background-image: $control-background-gradient;
  transition: background-color 0.2s ease, width 0.2s ease, height 0.2s ease;

  &:hover,
  &--active {
    background-color: $control-hover-color;
  }

  &--active {
    width: $slider-handler-x-size - 4px;
    height: $slider-handler-y-size + 2px;
  }

  .Slider--vertical & {
    width: $slider-handler-y-size;
    height: $slider-handler-x-size;

    &--active {
      width: $slider-handler-y-size + 2px;
      height: $slider-handler-x-size - 4px;
    }

  }
}

.Slider_caption {
  font-size: 11px;
  color: #666;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  .Slider--vertical & {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &--min {
    margin-right: $slider-caption-margin;
    right: 100%;

    .Slider--vertical & {
      right: auto;
      top: 100%;
      margin-right: 0;
      margin-top: $slider-caption-margin;
    }
  }

  &--max {
    margin-left: $slider-caption-margin;
    left: 100%;

    .Slider--vertical & {
      left: auto;
      bottom: 100%;
      margin-left: 0;
      margin-bottom: $slider-caption-margin;
    }
  }
}
