@import '../variables';

.Title {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.2s;
  padding: 10px;
  border-radius: $control-border-radius;
  white-space: nowrap;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

