.control {
  user-select: none;
  border-radius: $control-border-radius;
  box-shadow: $control-shadow;
  cursor: pointer;
  background-color: $control-background-color;
  background-image: $control-background-gradient;
  transition: all 0.2s ease;
  text-align: center;
  padding: 5px 20px;
  display: inline-block;

  .controls-group & {
    border-radius: 0;

    &:first-child {
      border-radius: $control-border-radius 0 0 $control-border-radius;
    }

    &:last-child {
      border-radius: 0 $control-border-radius $control-border-radius 0;
    }
  }
}
