$danger-color: #e0004b;
$danger-color-auxilliary: lighten($danger-color, 15%);

$firm-color-init: #00d0be;
$firm-color: lighten($firm-color-init, 10%);
$firm-color-auxilliary: lighten($firm-color, 30%);

$control-shadow: 0 3px 7px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.3);
$control-active-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0), inset 0 3px 7px rgba(0,0,0,.1), inset 0 1px 1px rgba(0,0,0,.3);
$control-border-radius: 4px;

$control-hover-color: $firm-color-auxilliary;
$control-active-color: lighten($firm-color, 45%);

$control-background-gradient-color: #000;
$control-background-color: #fff;

$control-background-gradient: linear-gradient(to top, rgba($control-background-gradient-color, .1), rgba($control-background-gradient-color, 0));

$piano-control-background-gradient: linear-gradient(to top, rgba($control-background-gradient-color, .6), rgba($control-background-gradient-color, 0.4));;

$control-round-size: 40px;

$text-color: #000;
$text-hover-color: $firm-color-init;

$icon-padding: 5px;
$icon-color: $text-color;
$icon-hover-color: $text-hover-color;
