@import 'variables';
@import 'parts';

$record-button-size: 30px;

body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.Root {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: "header header" "main sider" "footer footer";
  transition: all 0.2s ease;
  align-items: start;
  align-content: start;

  @media screen and (max-width: 900px) {
    grid-template-areas: "header header" "main main" "sider sider" "footer footer";
  }
}

.Header {
  grid-area: header;
  background: $firm-color-init;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
}

.Sider {
  grid-area: sider;
  padding: 20px;
}

.Main {
  grid-area: main;
}

.Footer {
  grid-area: footer;
  padding: 20px;
  text-align: center;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Controls {
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ControlsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Buttons {
  margin-top: 50px;
}

.ButtonsGroup {
  @extend .controls-group;
}

.Button {
  @extend .control;

  &:hover,
  &:active {
    background-color: $control-hover-color;
  }

  &:active,
  &--active {
    box-shadow: $control-active-shadow;
  }

  &--active {
    background-color: $control-active-color;

    &:hover {
      background-color: $control-hover-color;
    }
  }
}

.CurveCanvas {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

.analyzerCurve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  z-index: -1;
}

.SVGCurve_path {
  width: 100%;
  height: 100%;
  fill: rgba($firm-color, 0.2);
  transition: all 0.1s ease;
}

.SVGCurve_path--helper1 {
  stroke: red;
  stroke-width: 1px;
}

.SVGCurve_path--helper2 {
  stroke: green;
  stroke-width: 1px;
}

$piano-button-width: 30px;
$piano-button-diez-width: $piano-button-width * 0.6;
$piano-button-height: 150px;
$piano-button-diez-height: $piano-button-height * 0.75;

.PianoPutton {
  @extend .control;
  height: $piano-button-height;
  width: $piano-button-width;
  padding: 0;
  position: relative;
  z-index: 1;
  vertical-align: top;

  &:hover {
    background-color: $control-hover-color;
  }

  &--active {
    box-shadow: $control-active-shadow;
  }
}

.PianoPutton--diez {
  background-image: $piano-control-background-gradient;
  margin: 0 (-$piano-button-diez-width / 2);
  z-index: 2;
  width: $piano-button-diez-width;
  height: $piano-button-diez-height;
}

.Test {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graph_controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph_curveWrapper {
  position: relative;
}

.graph_curve {
  position: relative;
  display: block;
  height: 280px;
  margin-bottom: 40px;
  width: 100%;

  .SVGCurve_path {
    stroke: #000;
    stroke-width: 5px;
    fill: none;
  }
}

.graph_control {
  height: 100px;
}

.recorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.playButton {
  display: inline-block;
  cursor: pointer;
  padding: $icon-padding;
  transition: all 0.2s ease;
  color: $icon-color;
  user-select: none;

  &:hover {
    color: $icon-hover-color;
  }

  &--disabled {
    opacity: 0.5;

    &:hover,
    &:active {
      color: #000;
    }
  }
}

.playButton__icon {
  fill: currentColor;
  stroke: none;
}

.playButton__iconPath {
  transition: d 0.4s ease;
}
